### NuxtJS template
# Generated dirs
dist
.nuxt
.nuxt-*
.output
.gen
.data
.nitro
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example
